body {
  background-image: url('Imagenes/fondo.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/*FLIP DE LAS CARTAS*/
.front, .back, .container {
  width: 150px;
  height: 200px;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  position: relative;
}

.container > .front{
  position: absolute; -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(0deg);
  background #fCO; width: 200px;height: 200px; border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}
.container > .back{
  position: absolute; -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);
  background #fCO; width: 200px;height: 200px; border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}
.container > .frontFlip{
  position: absolute; -webkit-transform: perspective(600px) rotateY(-180deg);
  transform: perspective(600px) rotateY(-180deg);
  background #fCO; width: 200px;height: 200px; border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}
.container > .backFlip{
  position: absolute; -webkit-transform: perspective(600px) rotateY(-180deg);
  transform: perspective(600px) rotateY(0deg);
  background #fCO; width: 200px;height: 200px; border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}
/*FIN DE FLIP DE LAS CARTAS*/

/* CARTAS CORRECTAS */
.container > .frontFlip2{
  position: absolute; -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(0deg);
  background #fCO; width: 200px;height: 200px; border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
  border: red;
}
.container > .backFlip2{
  position: absolute; -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);
  background #fCO; width: 200px;height: 200px; border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
  border: red;
}
/* FIN CARTAS CORRECTAS */

#tabla{
  top: 5%;
  align-self: center;
  position: fixed;
  left: 30%;
  right: 40%;
}

#restart{
  height: 50px;
  width: 130px;
  margin: 15px;
  position: fixed;
  left: 30%;
}


#hlp{
  height: 50px;
  width: 130px;
  margin: 15px;
  position: fixed;
  left: 60%;
}



/* FORMULARIO POSITION FIXED ENCIMA DE TODO */

div.formu {
  text-align: center;
  visibility: hidden;
  position: fixed;
  top: 80px;
  left: 35%;
  right: 35%;
  width: 300px;
  border: 3px solid #580808;
}


/*NO SE QUE ES ESTO*/
div.formuV {
  text-align: center;
  visibility: visible;
  position: fixed;
  background-color: #8E8D8D;
  top: 40px;
  left: 30%;
  right: 40%;
  width: 300px;
  border: 3px solid #580808;
}

div.intent {
  color: white;
  text-align: center;
  position: fixed;
  background-color: #304f4f;
  top: 30px;
  left: 30px;
  width: 120px;
  height: 20px;
  border: 3px solid #20afaf;
}

div.crono {
  color: white;
  text-align: center;
  position: fixed;
  background-color: #304f4f;
  top: 30px;
  right: 30px;
  width: 120px;
  height: 20px;
  border: 3px solid #20afaf;
}

/*SCORE TABLE*/

#scoreTable {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
text-align: center;
width: 600px;
font-size: 12px;
font-weight:bold;
background-color: #e2ebef;
background-image: url(fondo_tr01.png);
background-repeat: repeat-x;
color: #34484E;
font-family: “Trebuchet MS”, Arial;
}

#scoreTable th{
  padding: 5px;
  font-size: 16px;
  background-color: #83aec0;
  background-image: url(fondo_th.png);
  background-repeat: repeat-x;
  color: #FFFFFF;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-right-color: #558FA6;
  border-bottom-color: #558FA6;
  font-family: “Trebuchet MS”, Arial;
  text-transform: uppercase;
}

#scoreTable td {
padding: 5px;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #A4C4D0;
border-bottom-color: #A4C4D0;
text-align:center;
}
