/*FLIP DE LAS CARTAS*/
.front, .back, .container {
  width: 140px;
  height: 200px;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  position: relative;
}

.container > .front{position: absolute; -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(0deg);
  background #fCO; width: 200px;height: 200px; border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}
.container > .back{position: absolute; -webkit-transform: perspective(600px) rotateY(180deg);
  transform: perspective(600px) rotateY(180deg);
  background #fCO; width: 200px;height: 200px; border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}
.container > .frontFlip{
  position: absolute; -webkit-transform: perspective(600px) rotateY(-180deg);
  transform: perspective(600px) rotateY(-180deg);
  background #fCO; width: 200px;height: 200px; border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}
.container > .backFlip{
  position: absolute; -webkit-transform: perspective(600px) rotateY(-180deg);
  transform: perspective(600px) rotateY(0deg);
  background #fCO; width: 200px;height: 200px; border-radius: 7px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
}
/*FIN DE FLIP DE LAS CARTAS*/
